#myProject {
  scroll-margin-top: 95px;
}
#myStory {
  scroll-margin-top: 95px;
}
#contact {
  scroll-margin-top: 95px;
}
.headerCon {
  background-color: #b0e0feff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 1000; */
  border-bottom: 1px solid #80808099;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 20px;
  padding: -10px;
  color: #0062ff;
  font-size: 30px;
  /* line-height: 1; */
}
.iconCon {
  margin-right: 20px;
  border: none;
  background-color: inherit;
}
.headerIcon {
  font-size: 30px;
}
.headerIcon:hover {
  color: #0062ff;
}
.menuCon {
  height: 100%;
  width: 100%;
  background-color: #2d2d2dff;
  position: absolute;
  top: 0;
  padding: 20px;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
}
.closeCon {
  background-color: inherit;
  border: none;
}
.closeIcon {
  font-size: 30px;
  transition: 40s;
  /* transition: transform 0.5s ease-in-out; */
}
.closeIcon:hover {
  transform: rotate(90deg);
}
.meetMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  opacity: 0.6;
  margin-bottom: -20px;
}
.pp {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.pp:hover {
  margin-left: 5px;
  font-weight: 600;
  text-decoration: underline;
}
.line {
  border: 1px solid white;
}
.linksCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
a {
  color: #ffffff;
  text-decoration: none;
  line-height: 0;
  /* border: 0.5px solid red; */
}
.contactIcon {
  font-size: 25px;
  opacity: 0.6;
}
a p {
  border: 0.5px solid #717171;
  padding: 10px 5px;
  width: fit-content;
  display: none;
}

/* profile page */
.profileCon {
  padding: 20px;
}
.name {
  margin-top: 120px;
  text-align: center;
}
.aboutMe {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.colorText {
  font-weight: 800;
  color: #0062ff;
  text-transform: capitalize;
}
.imgCon {
  width: 50%;
  height: 350px;
  margin-block: 50px;
  margin-inline: auto;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.center {
  text-align: center;
}
/* My Story page*/

.storyCon {
  padding: 20px;
  background-color: #b0e0feff;
}
.storyColorText {
  font-weight: 800;
  color: #0062ff;
}
.boldText {
  font-weight: 800;
  font-size: 18px;
}

/* Contact me  */

.contactCon {
  padding: 20px;
}
.contactHeading {
  text-align: center;
}
.contacts {
  opacity: 0.6;
}
.letWork {
  text-align: center;
  margin-top: 100px;
}
.copyright {
  opacity: 0.6;
  margin-top: 50px;
  text-align: center;
}
.projectCon {
  background-color: black;
  color: #ffffff;
  padding: 20px;
}
.myProject {
  font-size: 30;
  line-height: 0.5;
  margin-bottom: 30px;
}
.eachProject {
  margin-top: 50px;
}
.video {
  width: 300px;
  height: 600px;
  border-radius: 5%;
  /* margin-left: 20px; */
  /* margin-block: 20px; */
}
.pra {
  font-size: 17px;
  /* line-height: 1.5; */
}
@media screen and (min-width: 800px) {
  .name {
    font-size: 45px;
  }
  .profileCon {
    padding: 50px;
  }
  .aboutmeCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .aboutMe {
    width: 40%;
    font-size: 25px;
    margin-left: 30px;
  }
  .imgCon {
    width: 35%;
    height: 500px;
  }
  .center h2 {
    font-size: 30px;
  }
  .center p {
    font-size: 22px;
  }
  .storyInnerCon {
    width: 80%;
    margin-inline: auto;
  }
  .storyInnerCon h1 {
    font-size: 45px;
  }
  .storyInnerCon p {
    font-size: 23px;
  }
  .boldText {
    font-size: 25px;
  }
}
