.headerCon {
  background-color: #b0e0feff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #80808099;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 20px;
  padding: -10px;
  color: #0062ff;
  font-size: 30px;
  /* line-height: 1; */
}
.iconCon {
  margin-right: 20px;
}
.headerIcon {
  font-size: 30px;
}
.headerIcon:hover {
  color: #0062ff;
}
/* profile page */
.profileCon {
  padding: 20px;
}
.name {
  margin-top: 120px;
  text-align: center;
}
.aboutMe {
  text-align: center;
  font-size: 18px;
}
.colorText {
  font-weight: 800;
  color: #0062ff;
  text-transform: capitalize;
}
.imgCon {
  width: 50%;
  height: 350px;
  margin-block: 50px;
  margin-inline: auto;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* My Story page*/

.storyCon {
  padding: 20px;
  background-color: #b0e0feff;
}
.storyColorText {
  font-weight: 800;
  color: #0062ff;
}
.boldText {
  font-weight: 800;
  font-size: 18px;
}

/* Contact me  */

.contactCon {
  padding: 20px;
}
.contactHeading {
  text-align: center;
}
.contacts {
  opacity: 0.6;
}
.letWork {
  text-align: center;
  margin-top: 100px;
}
.copyright {
  opacity: 0.6;
  margin-top: 50;
  text-align: center;
}
.comfiable-Vid {
  width: 300px;
  height: 600px;
  border-radius: 5%;
  margin-left: 100px;
  margin-block: 20px;
}
